# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [93]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key
g_key

'AIzaSyA0a1q5gYbQ069wtF-k5UIuAV75eBbem_A'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [94]:
vac_csv = pd.read_csv("../WeatherPy/cities.csv")
vac_csv = vac_csv.drop(columns=["Unnamed: 0"])
vac_csv = vac_csv.rename(columns={"Max Temp":"Max Temp (C)"})
vac_csv

,City,Latitude,Longitude,Max Temp (C),Humidity,Cloudiness,Wind Speed,Country,Date
0,Ushuaia,-54.80,-68.30,9.00,76,75,10.29,AR,1616325584
1,Saint-Philippe,-21.36,55.77,28.00,78,75,9.77,RE,1616325584
2,Qaanaaq,77.48,-69.36,-23.46,96,94,0.63,GL,1616325584
3,Mar del Plata,-38.00,-57.56,16.67,77,75,5.66,AR,1616325584
4,Port Elizabeth,-33.92,25.57,22.00,56,20,8.23,ZA,1616325585
...,...,...,...,...,...,...,...,...,...
759,Bonfim,3.08,-59.95,24.45,70,59,3.75,BR,1616325814
760,Bozovici,44.94,22.00,6.11,70,75,1.54,RO,1616325814
761,Libenge,3.65,18.63,25.33,74,100,1.26,CD,1616325814
762,Władysławowo,54.79,18.40,4.44,93,75,6.69,PL,1616325815
763,Dosso,13.05,3.19,37.78,9,30,3.15,NE,1616325815

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [95]:
gmaps.configure(api_key=g_key)

locations = vac_csv[['Latitude', 'Longitude']]
weights = vac_csv['Humidity']

In [96]:
figure = gmaps.figure()
figure
heatmap_layer = gmaps.heatmap_layer(locations, weights = weights)
figure.add_layer(heatmap_layer)
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [100]:
vac_hotel = vac_csv.loc[(vac_csv["Max Temp (C)"] < 30) & 
                        (vac_csv["Max Temp (C)"] > 20) & 
                        (vac_csv['Wind Speed'] < 5) &
                       (vac_csv['Cloudiness'] < 10)]

hotel_df = vac_hotel.dropna()
#A max temperature lower than 80 degrees but higher than 70.


#Wind speed less than 10 mph.


#Zero cloudiness.

hotel_df.head()

,City,Latitude,Longitude,Max Temp (C),Humidity,Cloudiness,Wind Speed,Country,Date
29,Pandamatenga,-18.53,25.63,29.00,48,0,4.63,BW,1616325594
30,Pedernales,18.04,-71.74,23.63,67,0,2.23,DO,1616325594
32,Saldanha,-33.01,17.94,28.00,24,0,3.09,ZA,1616325594
51,Sur,22.57,59.53,29.47,43,0,3.56,OM,1616325603
65,Cap Malheureux,-19.98,57.61,29.44,74,9,4.02,MU,1616325606

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [108]:
hotel_df["Coordinates"] = hotel_df["Latitude"].astype(str) + ", " + hotel_df["Longitude"].astype(str)
hotel_df["Hotel Name"] = ""

hotel_df = hotel_df.reset_index()
hotel_df.head()

,level_0,index,City,Latitude,Longitude,Max Temp (C),Humidity,Cloudiness,Wind Speed,Country,Date,Coordinates,Hotel Name
0,0,29,Pandamatenga,-18.53,25.63,29.00,48,0,4.63,BW,1616325594,"-18.53, 25.63",
1,1,30,Pedernales,18.04,-71.74,23.63,67,0,2.23,DO,1616325594,"18.04, -71.74",
2,2,32,Saldanha,-33.01,17.94,28.00,24,0,3.09,ZA,1616325594,"-33.01, 17.94",
3,3,51,Sur,22.57,59.53,29.47,43,0,3.56,OM,1616325603,"22.57, 59.53",
4,4,65,Cap Malheureux,-19.98,57.61,29.44,74,9,4.02,MU,1616325606,"-19.98, 57.61",

In [102]:
hot_lat = hotel_df["Latitude"].tolist()
hot_long = hotel_df["Longitude"].tolist()
corders = hotel_df['Coordinates'].tolist()
hotelss = []

Lat_Long = list(zip(hot_lat, hot_long))
target = "Hotel"

base = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
radius = 5000

for coords in corders: 
    try:
        parameters = {"location": coords,
          "keyword": target, 
          "key": g_key,
          "radius": radius}

        response_hotel = requests.get(base, parameters).json()
    
        #hotell = response_hotel['results'][0]['name']
        print(response_hotel['results'][0]['name'])
        hotelss.append(response_hotel['results'][0]['name'])
        #pprint(response_hotel)
    except IndexError:
        hotelss.append("No hotels available")
        print("No hotels available")
##https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters

Wildtrack Safaris Eco Lodge
Hotel Alba Coral
Hoedjiesbaai Hotel
Sur Plaza Hotel
Metro Hotel
Bismillah Hotel And Lodging
The Motse - Tswalu Kalahari Luxury Private Game Reserve
No hotels available
Hotel Orla do Rio Branco
Hotel União
Dellville Country House & Cottages
Sikakubete Guest House Kalabo Town Council
Hotel Las Tunas
GCMF Office & Lodge
No hotels available
The Fern Residency, Somnath
No hotels available
Parsian Bam Hotel
Hotel Praia
No hotels available
Spring Resort Lodge
POUSADA CAMALEÃO
Mobile Etesakat
Silver Sands Beach Cottages
Ocean Centre Hotel
Guarimã Hostel e Turismo
Small's Enterprise
Hotel Don Pérez
No hotels available
Hotel Avenida
Bangalôs de Peroba
Tarumã Tropical Hotel
Hotel Soraya
Robertson Small Hotel
Hotel Casa Grande e Restaurante Forno e Fogão
Playa Canela Hotel Boutique

In [109]:
hotel_df["Hotel Name"] = hotelss
hotel_df.head()

,level_0,index,City,Latitude,Longitude,Max Temp (C),Humidity,Cloudiness,Wind Speed,Country,Date,Coordinates,Hotel Name
0,0,29,Pandamatenga,-18.53,25.63,29.00,48,0,4.63,BW,1616325594,"-18.53, 25.63",Wildtrack Safaris Eco Lodge
1,1,30,Pedernales,18.04,-71.74,23.63,67,0,2.23,DO,1616325594,"18.04, -71.74",Hotel Alba Coral
2,2,32,Saldanha,-33.01,17.94,28.00,24,0,3.09,ZA,1616325594,"-33.01, 17.94",Hoedjiesbaai Hotel
3,3,51,Sur,22.57,59.53,29.47,43,0,3.56,OM,1616325603,"22.57, 59.53",Sur Plaza Hotel
4,4,65,Cap Malheureux,-19.98,57.61,29.44,74,9,4.02,MU,1616325606,"-19.98, 57.61",Metro Hotel

In [110]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [111]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
figure.add_layer(markers)
# Display figure
figure

Figure(layout=FigureLayout(height='420px'))